body {
  margin: 0;
}
body a {
  color: white;
  text-decoration: none;
}
body nav {
  background-color: #47423d;
  width: 100%;
  height: 50px;
}
body nav ul {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 16pt;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0;
  justify-content: center;
  padding-top: 10px;
}
body nav ul li {
  margin-right: 4%;
}
footer {
  background-color: #2c2925;
  position: relative;
  bottom: 0;
  min-height: 80px;
  display: flex;
  flex-direction: row;
}
footer figure {
  margin: 0;
  display: flex;
  flex-direction: row;
  font-family: 'Kosugi Maru', sans-serif;
  color: white;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 65px;
}
footer figure:last-child {
  padding-right: 0;
}
footer figure:first-child {
  margin-left: 25%;
}
footer figure figcaption {
  padding-left: 10px;
  font-size: 14pt;
}
footer figure figcaption a {
  text-decoration: underline;
}
footer p {
  margin: 0;
}
body {
  font-family: 'Kosugi Maru', sans-serif;
}
body .start {
  font-size: 18pt;
  margin: 20px auto 0 auto;
  text-align: center;
  max-width: 500px;
}
body .center {
  color: #d71f35;
  font-size: 19pt;
  max-width: 140px;
  margin: 40px auto 0 auto;
}
body .center:after {
  content: "";
  display: block;
  width: 67px;
  border-top: 6px solid #3e3934;
  margin: 15px auto 20px;
}
body .red_color {
  font-size: 17pt;
  background-color: #ede3ce;
  min-height: 300px;
  margin-top: 50px;
  padding-left: 30%;
  padding-top: 30px;
}
body .red_color .underline {
  font-size: 17pt;
  font-style: oblique;
}
body .red_color .underline:after {
  content: "";
  display: block;
  width: 67px;
  border-top: 6px solid #3e3934;
  margin: 15px 0 20px;
}
body .red_color .name {
  color: #d71f35;
  max-width: 400px;
  padding-bottom: 10px;
}
body .red_color div:last-child {
  font-size: 15pt;
  max-width: 400px;
}
body #no_margin {
  margin-top: 0;
}
body .no_color {
  font-size: 15pt;
  min-height: 230px;
  padding-left: 30%;
  padding-top: 30px;
}
body .no_color .name {
  max-width: 400px;
}
body .underline {
  font-size: 17pt;
  font-style: oblique;
}
body .underline:after {
  content: "";
  display: block;
  width: 67px;
  border-top: 6px solid #3e3934;
  margin: 15px 0 20px;
}
body .photos {
  margin-top: 50px;
}
body .photos .underline {
  margin-left: 30%;
}
body .photos img {
  margin-left: 25%;
  margin-bottom: 20px;
  transition: 0.5s;
}
body .photos img:hover {
  cursor: pointer;
  box-shadow: -2px -2px 15px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  transform: translate(5px, 5px);
}
body .photos img.zoom {
  position: absolute;
  left: 16vw;
  top: 80vh;
  transition: 0.5s;
  transform: scale(2, 2);
}
