@import "variables";
@import "navigation";
@import "footer";

body {
  font-family: @FontForNavigation;

  .start {
    font-size: @FontSizeForNav + 2pt;
    margin: 20px auto 0 auto;
    text-align: center;
    max-width: 500px;
  }

  .center {
    color: #d71f35;
    font-size: @FontSizeForNav + 3pt;
    max-width: 140px;
    margin: 40px auto 0 auto;

    &:after {
      content: "";
      display: block;
      width: 67px;
      border-top: 6px solid #3e3934;
      margin: 15px auto 20px;
    }
  }

  .red_color {
    font-size: @FontSizeForNav + 1pt;
    background-color: @colorArticle;
    min-height: 300px;
    margin-top: 50px;
    padding-left: 30%;
    padding-top: 30px;

    .underline {
      font-size: @FontSizeForNav + 1pt;
      font-style: oblique;

      &:after {
        content: "";
        display: block;
        width: 67px;
        border-top: 6px solid #3e3934;
        margin: 15px 0 20px;
      }
    }

    .name {
      color: #d71f35;
      max-width: 400px;
      padding-bottom: 10px;
    }
    div {

      &:last-child {
        font-size: @FontSizeForNav - 1pt;
        max-width: 400px;
      }
    }
  }

  #no_margin {
    margin-top: 0;
  }

  .no_color {
    font-size: @FontSizeForNav - 1pt;
    min-height: 230px;
    padding-left: 30%;
    padding-top: 30px;

     .name {
      max-width: 400px;
    }
  }

  .underline {
    font-size: @FontSizeForNav + 1pt;
    font-style: oblique;

    &:after {
      content: "";
      display: block;
      width: 67px;
      border-top: 6px solid #3e3934;
      margin: 15px 0 20px;
    }
  }

  .photos {
    margin-top: 50px;

    .underline {
      margin-left: 30%;
    }

    img {
      margin-left: 25%;
      margin-bottom: 20px;
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        box-shadow: -2px -2px 15px rgba(0,0,0,0.5);
        transition: 0.5s;
        transform: translate(5px, 5px);
      }
    }

    img.zoom {
      position: absolute;
      left: 16vw;
      top: 80vh;
      transition: 0.5s;
      transform: scale(2, 2);
    }
  }
}