body {
  margin: 0;
}
body a {
  color: white;
  text-decoration: none;
}
body nav {
  background-color: #47423d;
  width: 100%;
  height: 50px;
}
body nav ul {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 16pt;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0;
  justify-content: center;
  padding-top: 10px;
}
body nav ul li {
  margin-right: 4%;
}
body {
  background-color: #bca381;
}
body img {
  display: block;
  margin: 10% auto;
}
